$desktop: 'screen and (min-width : 769px)';

/* 비디오 컨트롤 */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
video::-webkit-media-controls-timeline {
  display: none !important;
}
video::-webkit-media-controls-current-time-display {
  display: none !important;
}
video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}
video::-webkit-media-controls-mute-button {
  display: none !important;
}
video::-webkit-media-controls-volume-slider {
  display: none !important;
}
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
/* 스크롤 */
.scroll::-webkit-scrollbar {
  display: none;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.phone {
  position: relative;
  width: 360px;
  height: 720px;
  overflow: hidden;
  background-color: #fff;
}

.screen {
  position: relative;
  padding-bottom: 58px;
  width: 360px;
  height: 100%;
  box-sizing: border-box;
  .video {
    width: 100%;
    height: 100%;
    &-swipe,
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .icon-video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      display: none;
      width: 50px;
      height: 50px;
      &--pause {
        display: block;
        background: url('/src/assets/icon/video-play.svg') center / contain
          no-repeat;
      }
      &--play {
        // display: block;
        background: url('/src/assets/icon/video-pause.svg') center / contain
          no-repeat;
      }
      &--add-like-cnt {
        display: block;
        animation: displayLike 2s forwards;
      }
    }
    // 영상 재생중인 상태에서 mouseover 시 버튼
    &:hover {
      .false.icon-video--play {
        display: block;
      }
    }
  }
  @keyframes displayLike {
    0% {
      display: block;
      width: 50px;
      height: 50px;
      opacity: 0;
    }

    80% {
      background: url('/src/assets/icon/like-af.svg') center / contain no-repeat;
      display: block;
      width: 100px;
      height: 100px;
      opacity: 1;
    }

    0% {
      display: none;
    }
  }
}

.video-details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba($color: #181818, $alpha: 0.5);
  box-sizing: border-box;
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}

.swiper-wrapper {
  height: 662px !important;
  &__slide-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.button-bar {
  position: absolute;
  // margin-left: 320px;
  right: 24px;
  bottom: 105px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  span {
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .base-button--comments {
    /* 댓글 버튼 */
    margin-top: 3px;
  }
}

.navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 7px 14px;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  background-color: rgba($color: #181818, $alpha: 1);
  &-bar {
    // position: absolute;
    // max-width: 360px;
    width: 100%;
    height: 100%;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  &-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--update {
      width: 42px;
      height: 42px;
    }
    &:nth-child(-n + 2) {
      margin-right: 10px;
    }
    .base-button {
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      span {
        display: block;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
      }
      .a11y {
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        color: #fff;
        background-color: rgb(0, 0, 0);
      }
    }
  }
}

.swiper-dim {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control dim intensity */
  z-index: 10;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 662px;
  // position: relative;
  z-index: 20;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  .modal-comment {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
    background-color: rgba($color: #181818, $alpha: 1);
    color: rgba($color: #fff, $alpha: 1);
    z-index: 30;
    &--top {
      display: flex;
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 12px;
      justify-content: space-between;
    }
    &--button {
      display: flex;
      gap: 10px;
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 12px;
    }
    .button-close {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 10px;
      color: rgba($color: #fff, $alpha: 0.7);
    }
    .comment {
      &-user {
        color: rgba($color: #fff, $alpha: 0.7);
        font-size: 12px;
      }
      textarea {
        width: 100%;
        padding: 0px 5px;
        border: 1px solid #fff;
        color: #fff;
        resize: none;
        overflow: hidden;
      }
    }
    .comment-new {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      textarea {
        padding: 0px 5px;
        width: 83%;
        height: 30px;
        border: 1px solid #fff;
        color: #fff;
        line-height: 30px;
        resize: none;
        overflow: hidden;
      }
      button {
        color: rgba($color: #fff, $alpha: 0.7);
        font-size: 12px;
      }
    }
  }
  .modal-share {
    position: absolute;
    bottom: 0;
    height: 100%;
    max-height: 200px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
    background-color: rgba($color: #181818, $alpha: 1);
    color: rgba($color: #fff, $alpha: 1);
    box-sizing: border-box;
    button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 10px;
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }
}


.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 662px;
  // position: relative;
  z-index: 20;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color: #181818, $alpha: 0.8);
  &-detail {
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    background-color: rgba($color: #fff, $alpha: 1);
    .content {
      color: #181818;
    }
    .button-close {
      padding: 2px 15px;
      border-radius: 5px;
      background-color: rgba($color: #537bff, $alpha: 1);
      color: #fff;
      &:hover {
        background-color: rgba($color: #2357ff, $alpha: 1);
      }
    }
  }
}

//타이틀
.page-title__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    line-height: 30px;    
  } 
  h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 25px;        
  }  
  .num {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    line-height: 16px;        
  }
  .flag-progress {
    border: 1px solid #ddd;
    background-color: #666;   
    font-size: 12px;
    font-weight: 400;
    color: #666;
    line-height: 16px;           
    padding: 3px 10px;
    border-radius: 6px;
  }
  &.center {
    justify-content: center;
    flex-direction: column;
  }
}
// 폼
//폼 공통요소
$inputHeight: 36px;
$font-tsize: 14px;
$inputColor: #fafafa;
$bordersColor: #DDDDDD;
$textareaHeight: 100px;

@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 6px;
    border: 1px solid $bordersColor;    
    color: #000;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $defaultLineHeight;    
    padding: 0 16px;    
    width: 100%;
    &::placeholder {
      color: #999;
    }
    &:focus {
      border-color:$pointColor;
      outline:none;
    }
    &:disabled {
      background-color:#f4f4f4;
      border-color:$bordersColor;
      cursor:not-allowed;
    }
}
.input__wrap {
  display: flex;
  align-items: center;    
  width: 100%;    
  gap: 5px;
  .input {
    position: relative;
      &:only-child {
          width: 100%;
      }
      .btn-close-circle {
        right: 10px;
      }
  }
  &+.input__wrap {
      margin-top:10px;
  } 
}

.select__wrap {
  display: flex;  
  flex-direction: column;
  width: 100%;
  gap: 5px;
  align-items: flex-start;
  label {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 25px;    
  }
  select {
    padding: 4px 40px 8px 16px;
  }
}
// 로그인 회원
// 로그인
.member__wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 16px;
  .member__wrap--inner {
      width: 100%;
  }
  .member-page__wrap {
      margin-top: 32px;
  }
  .member-page__form {
      width: 100%;
      .title {          
          font-size: 18px;
          color: #000;
          font-weight: 500;
          line-height: 25px;
          margin-bottom: 16px;
      }
      ul {
          li {
              margin-bottom: 10px;
          }
      }
  }
  .help-msg {
      margin-top: 10px;
      display: flex;
      gap: 10px;
  }
}