  //modal css
  html.modal-open,
  body.modal-open {    
    overflow:hidden;    
  }
  .modal__wrap {
    position: fixed;
    z-index: 24;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);    
    transition: opacity .1s ease;
  }
  .overlay-mask {
    position: fixed;
    z-index: 24;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .modal__content {
    width: 100%;
    height:auto;
    max-height: calc(100% - 40px);
    overflow: hidden;
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .modal__content--inner {
      position: relative;
      background-color: #fff;
      border-radius: 6px;
      .modal__content--title {
        padding: 20px 16px;
        @include fontoption(28px,#000,500,30px);
      }
      .modal__content--body {
        padding: 0 16px 20px;
        @include fontoption(16px,#666,400,20px);
      }
      .modal__content--footer {
        padding: 0 16px 10px;
      }
    }
  }

//툴팁
.tooltip-el {
  display: inline-block;
  margin-left:4px;
  position: relative;
  .btn-icon-tooltip {
    padding:0;
    background: url('@/assets/images/icon/icon_question_small.png') no-repeat;
    border:0;
    border-radius: 0;
    width: 12px;
    height: 12px !important;
    border-radius: 0;
    min-width: auto;
    line-height: 12px;
    font-size: 0;
   }   
   .tool-tip__wrap {
    position: absolute; 
    opacity: 0;
    height:0;
    overflow: hidden;
    strong {
      @include fontoption(16px,#000,500,28px); 
      &+ul {
        margin-top:16px;
      }
    }
    ul {
      li {
        position: relative;
        padding-left: 8px;
        @include fontoption(12px,#000,400,20px); 
        &.title-list {
          strong {
            @include fontoption(14px,#000,500,28px); 
          }
          &::before {
            display: none;
          }
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          left: 0px;
          top: 10px;          
          background: #000000;
          border-radius: 100px;
        }
        &+li {
          margin-top:8px;
        }
      }
    }
      &.default {    
        background: #FFFFFF;
        border-radius: 12px;
        border: 1px solid #EAEAEA;        
      }      
      &.active {
        opacity: 1;
        z-index: 10;
        top:35px;
        left:-70px;
        height:auto;
        overflow: visible;
        .message__innerbox {
          position: relative;
          padding: 20px 24px;        
          &::after {
            border-color: #fff transparent;
            border-style: solid;
            border-width: 0 6px 8px 6.5px;
            content: '';
            display: block;
            left: 68px;
            position: absolute;
            top: -7px;
            width: 0;
            z-index: 1;
          }          
          &::before {
            border-color: #EAEAEA transparent;
            border-style: solid;
            border-width: 0 6px 8px 6.5px;
            content: '';
            display: block;
            left: 68px;
            position: absolute;
            top: -8px;
            width: 0;
            z-index: 0;
          }   
        }      
      }
    }  
}
